$fa-font-path: "../webfonts";
@import "fontawesome.scss";
@import "solid.scss";
@import "brands.scss";
@import url('https://fonts.googleapis.com/css?family=Montserrat');




$offwhite: #c7ecee;
$blue: darken( $offwhite, 10% );
$offblue: darken( $offwhite, 20% );
$darkblue: darken( $offblue, 20% );
$black: #000;
$offblack: lighten( $black, 10% );
$white: #FFF;
$lightwhite: darken( $white, 0.5% );

$red: #eb4d4b;
$pink: lighten( $red, 20% );
$darkpink: darken( $pink, 10% );

.fa-arrow-down {
  color: $pink;
}

.fa-arrow-down:hover {
  color:$darkpink;
}


.table .thead-dark th {
    color: #fff;
    background-color: $pink;
    border-color: $darkpink;
}

.table-hover tbody tr:hover {
    background-color: rgba(236, 240, 241, 0.8);
  }
  .table {
    border: groove 2px;
  }

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: $lightwhite;
  color: $offblack;
}

p {
  font-size: 18px;
  font-weight: 200;
}

button {
  background-color: $darkpink;
  color: white;
}

.button:focus {
  border-color: $pink;
  outline: none;
}

button:hover {
  background-color: $pink;
}

.nav-item {
  font-weight: bold;
  font-size: 20px;
}

a {
  color: $darkpink;
}

a.btn.btn-primary {
  background-color: $darkpink;
  color: white;
  border: none;
}

a.btn.btn-primary:focus {
  border-color: $pink;
  outline: none;
}

a.btn.btn-primary:hover {
  background-color: $pink;
}

a:visited {
    color: $darkpink;
}

li {
  border: solid 2px $offwhite;
  box-shadow: 2px 5px $offblue;
  background-color: white;
}

a.nav-link {
  color: $darkblue;
}

a.nav-link:hover {
  background-color: $darkpink;
  border-bottom: none;
  color: white;
}

/* mouse over link */
a:hover {
    color: $darkpink;
    border-bottom: solid 2px $offblue;
    text-decoration: none;
}

.text-shadow {
  text-shadow: 2px 2px $offblue;
}

#home {
  height: 700px;
  color:white;
  background-image: linear-gradient(to bottom, #c7ecee, #b9e7ea, #abe2e5, #9ddde1, #8ed8dc, #82d3d7, #77cdd2, #6ac8cd, #5ec1c6, #52bac0, #45b3b9, #36acb3);
}

 #portrait {
   height: 250px;
 }

 #about {
   background-image: url(assets/pipes.png);
 }

 #about-col {
   background-color: rgba(236, 240, 241, 0.1);
 }

#education {
  background-image: url(assets/pipes.png);
}

#education-col {
  background-color: rgba(236, 240, 241, 0.1);
}


#intro-col {
  background-color: white;
  padding: 20px;
  border: solid 3px $blue;
}

#projects {
  background-image: url(assets/pipes.png);
}

#projects-col {
  background-color: rgba(236, 240, 241, 0.1);
}


#outro-col {
  background-color: white;
  padding: 20px;
  border: solid 3px grey;
}
 .nav-pills .nav-link.active {
   background-color: $pink;
 }

 .card {
   background-color: rgba(236, 240, 241, 0.8);
   border: none;
   box-shadow: rgb(236, 240, 241) 2px 2px 5px 5px;
 }

.card i {
  color: $pink;
}

.card i:hover {
  color: $darkpink;
  transition-duration: 0.5s;
  transform: scale(1.2);
}

.card-header {
  background-color: white;
  border: solid 2px $offwhite;
  box-shadow: 2px 5px $offblue;
}

.card-header:hover {
  background-color: $darkpink;
  color: white;
}

input.form-control:focus {
border-color: $offblue;
box-shadow: 0 0 0 0.2rem $offwhite;
}

textarea.form-control:focus {
border-color: $offblue;
box-shadow: 0 0 0 0.2rem $offwhite;
}



#footer {
  background-color: $offblue;
}

.footer-links {
  color:white;
}

.footer-links:visited {
  color:white;
}

.footer-links:hover {
  color:white;
}

#copyright {
  background-color: $darkblue;
  color: white;
}



.fa-linkedin {
  color: $pink;
}

.fa-linkedin:hover {
  color: $darkpink;
  transition-duration: 0.5s;
  transform: scale(1.2);
}

.fa-github-square {
  color: $pink;

}
.fa-github-square:hover {
  color: $darkpink;
  transition-duration: 0.5s;
  transform: scale(1.2);
}

.fa-envelope {
  color: $pink;
}
.fa-envelope:hover {
  color: $darkpink;
  transition-duration: 0.5s;
  transform: scale(1.2);
}

a.social-link {
  border-bottom: none;
}

.fa-circle {
  color: white;
}

h5.card-title {
  color: $darkblue;
}

h3.card-title {
  color: $darkblue;
}
