$fa-font-path: "../webfonts";
@import "fontawesome.scss";
@import "solid.scss";
@import "brands.scss";
@import url('https://fonts.googleapis.com/css?family=Montserrat');




$offwhite: #c7ecee;
$offblue: darken( $offwhite, 20% );
$darkblue: darken( $offblue, 20% );

$red: #eb4d4b;
$pink: lighten( $red, 20% );
$darkpink: darken( $pink, 10% );

$bg-image: url(assets/jesus-kiteque-224069-unsplash.jpg);

.table .thead-dark th {
    color: #fff;
    background-color: $pink;
    border-color: $darkpink;
}

.table-hover tbody tr:hover {
    background-color: rgba(236, 240, 241, 0.8);
  }
  .table {
    border: groove 2px;
  }

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 18px;
  font-weight: 200;
}

button {
  background-color: $pink;
  color: white;
}

.button:focus {
  border-color: $darkpink;
  outline: none;
}

button:hover {
  background-color: $darkpink;
}

.nav-item {
  font-weight: bold;
  font-size: 20px;
}

a {
  color: $darkpink;
}

a:visited {
    color: $darkpink;
}

li {
  border: solid 2px $offwhite;
  box-shadow: 2px 5px $offblue;
  background-color: $pink;
}

a.nav-link {
  color: white;
}

a.nav-link:hover {
  background-color: $darkpink;
  border-bottom: none;
  color: white;
}

/* mouse over link */
a:hover {
    color: $darkpink;
    border-bottom: solid 2px $offblue;
    text-decoration: none;
}

#hero {
   background-image: $bg-image;
   background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  border-bottom: 10px solid $offwhite;
height: 700px;
 }

 .overlay {
   box-shadow: inset 0 0 0 600px rgba(236, 240, 241, 0.8);
 }

.text-shadow {
  text-shadow: 2px 2px 5px grey;
}

 #portrait {
   border: 4px solid $darkpink;
   box-shadow: 4px 10px $pink;
   height: 250px;
 }

 .nav-pills .nav-link.active {
   background-color: $pink;
 }

 .card {
   background-color: rgba(236, 240, 241, 0.8);
   border: groove 2px;
 }

.card i {
  color: $pink;
}

.card i:hover {
  color: $darkpink;
  transition-duration: 0.5s;
  transform: scale(1.2);
}

.card-header {
  background-color: white;
  border: solid 2px $offwhite;
  box-shadow: 2px 5px $offblue;
}

.card-header:hover {
  background-color: $darkpink;
  color: white;
}

input.form-control:focus {
border-color: $offblue;
box-shadow: 0 0 0 0.2rem $offwhite;
}

textarea.form-control:focus {
border-color: $offblue;
box-shadow: 0 0 0 0.2rem $offwhite;
}



#footer {
  background-color: rgba(236, 240, 241, 0.8);
}

#copyright {
  background-color: darken(rgba(236, 240, 241, 3), 20%);
}



.fa-linkedin {
  color: $offblue;
}

.fa-linkedin:hover {
  color: $darkblue;
  transition-duration: 0.5s;
  transform: scale(1.2);
}

.fa-github-square {
  color: $offblue;

}
.fa-github-square:hover {
  color: $darkblue;
  transition-duration: 0.5s;
  transform: scale(1.2);
}

.fa-envelope {
  color: $offblue;
}
.fa-envelope:hover {
  color: $darkblue;
  transition-duration: 0.5s;
  transform: scale(1.2);
}

a.social-link {
  border-bottom: none;
}

.fa-circle {
  color: white;
}

h5.card-title {
  color: $darkblue;
}
